# A/B Testing

## AKA Applied Hypothesis Testing!

If you went through all the stats up to this point and thought "oh man when am I ever going to use this stuff" - I get it. But one of the most common ways that Hypothesis Testing techniques are used in the real world is through A/B Testing!

One of the most common places you see A/B Testing out in the world is in marketing - companies will run A/B tests on elements of their website, their emails, their calls to action, etc. While you see A/B testing in other places, Marketing is going to be my example lens for today's session.

### A/B Testing in Marketing

Hubspot is a marketing software company, and I'm going to use some of their resources in the setup to why all this matters. You can access the specific A/B Testing Kit they put out for marketing optimization process at this link: https://drive.google.com/drive/folders/1Wk3J2nA5gguN1Y_41cACxQ9mcJls9TmI

Hubspot's definition of split testing, aka A/B testing:

> Split testing, commonly referred to as A/B testing, is a method of testing through which marketing variables (such as copy, images, layout, etc) are compared to each other to identify the one that brings a better conversion rate. In this context, the element that is being testing is called the “control” and the element that is argued to give a better result is called the “treatment.”

#### Hubspot's 10 Guidelines for Effective A/B Testing: 

1. Only conduct one test (on one asset) at a time
2. Test one variable at a time
3. Test minor changes, too
4. You can A/B test the entire element
5. Measure as far down funnel as possible
6. Set up control & treatment
7. Decide what you want to test
8. Split your sample group randomly 
9. Test at the same time
10. Decide on necessary significance before testing

### What will the data look like?

Data source: https://www.kaggle.com/zhangluyuan/ab-testing

Unfortunately, this data has no real meta-data associated with it, but the author did say the data comes from an e-commerce website. 

Full credit to Robbie Geoghegan, now a Data Scientist at Facebook, for giving me the idea and sharing work they did on this dataset: https://medium.com/@robbiegeoghegan/implementing-a-b-tests-in-python-514e9eb5b3a1 

Another blog I referenced: https://medium.com/@RenatoFillinich/ab-testing-with-python-e5964dd66143

Before we go any further, and typically before we run a test like this, we need to decide our significance level. Otherwise, let's assume that the group who ran this test did it properly (ran tests in parallel, split users randomly, etc)

Significance Level: $\alpha = .05$

In [1]:
# Imports
import pandas as pd
import numpy as np

from scipy import stats

from statsmodels.stats.power import NormalIndPower
from statsmodels.stats.proportion import proportion_effectsize, proportions_ztest

In [3]:
# Grab our data - want the column 'timestamp' to be a datetime object
df = pd.read_csv('data/ab_data.csv', parse_dates=['timestamp'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  datetime64[ns]
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 11.2+ MB

In [5]:
df.head()

   user_id                  timestamp      group landing_page  converted
0   851104 2017-01-21 22:11:48.556739    control     old_page          0
1   804228 2017-01-12 08:01:45.159739    control     old_page          0
2   661590 2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541 2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975 2017-01-21 01:52:26.210827    control     old_page          1

In [7]:
# Check our timeframe
print(df['timestamp'].min())
print(df['timestamp'].max())

2017-01-02 13:42:05.378582
2017-01-24 13:41:54.460509

#### There's an issue...

In [11]:
#duplicate user id entries
df['user_id'].duplicated().sum()

3894

In [10]:
# Let's see...
# control group people got new page -- incorrectly
df.loc[(df['group'] == 'control') & (df['landing_page'] == 'new_page')]

        user_id                  timestamp    group landing_page  converted
22       767017 2017-01-12 22:58:14.991443  control     new_page          0
240      733976 2017-01-11 15:11:16.407599  control     new_page          0
490      808613 2017-01-10 21:44:01.292755  control     new_page          0
846      637639 2017-01-11 23:09:52.682329  control     new_page          1
850      793580 2017-01-08 03:25:33.723712  control     new_page          1
...         ...                        ...      ...          ...        ...
293894   741581 2017-01-09 20:49:03.391764  control     new_page          0
293996   942612 2017-01-08 13:52:28.182648  control     new_page          0
294200   928506 2017-01-13 21:32:10.491309  control     new_page          0
294253   886135 2017-01-06 12:49:20.509403  control     new_page          0
294331   689637 2017-01-13 11:34:28.339532  control     new_page          0

[1928 rows x 5 columns]

In [12]:
len(df.loc[(df['group'] == 'control') & (df['landing_page'] == 'new_page')])

1928

In [13]:
# treatment/test group people got old page -- incorrectly
len(df.loc[(df['group'] == 'treatment') & (df['landing_page'] == 'old_page')])

1965

In [14]:
control_but_new = df.loc[(df['group'] == 'control') & (df['landing_page'] == 'new_page')]
treatment_but_old = df.loc[(df['group'] == 'treatment') & (df['landing_page'] == 'old_page')]

In [15]:
print(len(control_but_new))
print(len(treatment_but_old))

1928
1965

In [16]:
[*control_but_new.index]

[22,
 240,
 490,
 846,
 850,
 988,
 1198,
 1354,
 1474,
 1877,
 2023,
 2214,
 2745,
 2759,
 2857,
 2947,
 3362,
 3421,
 3548,
 3817,
 3903,
 3913,
 4038,
 4282,
 4284,
 4311,
 4485,
 4693,
 4748,
 4962,
 5281,
 5295,
 5604,
 6047,
 6477,
 6576,
 6598,
 6873,
 6909,
 7007,
 7297,
 7405,
 7421,
 7500,
 7624,
 7766,
 7866,
 7900,
 8018,
 8041,
 8120,
 8138,
 8349,
 8425,
 8486,
 8592,
 8647,
 8935,
 9303,
 9346,
 9352,
 9363,
 9376,
 9467,
 9522,
 9544,
 9630,
 9692,
 10025,
 10309,
 10572,
 10639,
 11102,
 11178,
 11376,
 11386,
 11476,
 11665,
 11792,
 11928,
 12064,
 12191,
 12546,
 12615,
 12640,
 12726,
 13118,
 13187,
 13289,
 13492,
 13527,
 13921,
 14591,
 14727,
 14838,
 14929,
 14998,
 15182,
 15196,
 15245,
 15328,
 15351,
 15481,
 15771,
 15867,
 16051,
 16060,
 16351,
 16362,
 16465,
 16814,
 16833,
 16935,
 17109,
 17135,
 17300,
 17411,
 17413,
 17576,
 17598,
 17644,
 17907,
 17917,
 18054,
 18067,
 18141,
 18204,
 18212,
 18258,
 18285,
 18293,
 18314,
 18497,
 18502,
 18643,
 18930,
 19180,
 19277,
 19411,
 19724,
 19749,
 20012,
 20250,
 20379,
 20667,
 20685,
 20689,
 20945,
 20989,
 21083,
 21263,
 21267,
 21658,
 21700,
 21702,
 21721,
 21833,
 21895,
 21914,
 21970,
 22085,
 22212,
 22315,
 22549,
 22553,
 22758,
 22864,
 23003,
 23089,
 23119,
 23121,
 23279,
 23315,
 23463,
 23857,
 23878,
 23996,
 24040,
 24227,
 24270,
 24279,
 24362,
 24801,
 24880,
 25359,
 25427,
 25439,
 25506,
 25589,
 25882,
 25981,
 26007,
 26118,
 26222,
 26299,
 26586,
 26953,
 26991,
 27163,
 27219,
 27462,
 27639,
 27724,
 27727,
 27751,
 27791,
 27799,
 27892,
 28177,
 28761,
 28890,
 29073,
 29092,
 29148,
 29349,
 29361,
 29397,
 29597,
 29729,
 29940,
 30480,
 30569,
 30681,
 30682,
 30811,
 31270,
 31307,
 31830,
 32019,
 32246,
 32264,
 32351,
 32496,
 32678,
 32686,
 32861,
 33030,
 33061,
 33450,
 33489,
 33506,
 33683,
 33893,
 34166,
 34438,
 34805,
 34917,
 34940,
 35432,
 35552,
 35716,
 36141,
 36297,
 36356,
 36578,
 36906,
 37162,
 37787,
 37797,
 38021,
 38022,
 38163,
 38182,
 38367,
 38439,
 38684,
 38781,
 38947,
 39018,
 39100,
 39111,
 39194,
 39395,
 39538,
 39609,
 39628,
 39709,
 39730,
 39795,
 39949,
 40080,
 40172,
 40245,
 40279,
 40370,
 40494,
 40879,
 40921,
 41133,
 41262,
 41277,
 41429,
 41635,
 41699,
 41796,
 42306,
 42313,
 42335,
 42376,
 42451,
 42844,
 42851,
 42899,
 43057,
 43060,
 43140,
 43158,
 43269,
 43429,
 43895,
 44092,
 44116,
 44595,
 44706,
 44936,
 45228,
 45252,
 45651,
 45975,
 46119,
 46439,
 46447,
 46657,
 46789,
 46975,
 47174,
 47232,
 47718,
 47889,
 47970,
 48001,
 48088,
 48148,
 48292,
 48300,
 48364,
 48371,
 48525,
 48915,
 49009,
 49156,
 49183,
 49419,
 49499,
 49886,
 50176,
 50627,
 50681,
 50741,
 51097,
 51446,
 51528,
 51862,
 52212,
 52319,
 52425,
 52451,
 52955,
 52999,
 53575,
 53873,
 53887,
 53954,
 54017,
 54151,
 54252,
 54319,
 54506,
 54520,
 54648,
 54687,
 54863,
 54974,
 55094,
 55288,
 55379,
 55394,
 55396,
 55843,
 56098,
 56183,
 56185,
 57227,
 57316,
 57698,
 57910,
 57932,
 58127,
 58480,
 58521,
 58608,
 58732,
 58897,
 58937,
 58955,
 59290,
 59403,
 59519,
 59795,
 59820,
 59984,
 60016,
 60155,
 60184,
 60495,
 60516,
 60817,
 60909,
 61020,
 61134,
 61266,
 61355,
 61525,
 61535,
 61654,
 61758,
 62021,
 62158,
 62314,
 62592,
 63084,
 63095,
 63144,
 63194,
 63540,
 63569,
 63586,
 63707,
 63756,
 63871,
 63954,
 64033,
 64038,
 64183,
 64211,
 64219,
 64586,
 64732,
 64752,
 64775,
 64866,
 64891,
 64892,
 65034,
 65059,
 65733,
 65740,
 66001,
 66182,
 66344,
 66362,
 66398,
 66518,
 66666,
 66711,
 66816,
 66830,
 66837,
 66874,
 66887,
 66977,
 67027,
 67075,
 67114,
 67129,
 67222,
 67337,
 67376,
 67392,
 67574,
 67828,
 67876,
 67931,
 68097,
 68464,
 68492,
 68591,
 68629,
 68887,
 68923,
 69053,
 69136,
 69220,
 69290,
 69291,
 69478,
 69573,
 69775,
 69927,
 69932,
 70015,
 70160,
 70190,
 70279,
 70362,
 70671,
 70853,
 71158,
 71333,
 71478,
 71753,
 71840,
 71933,
 72466,
 72592,
 72676,
 72801,
 72851,
 72911,
 72927,
 73216,
 73263,
 73647,
 73969,
 74351,
 74564,
 74668,
 74887,
 75358,
 75470,
 75554,
 75666,
 75693,
 75952,
 76052,
 76132,
 76506,
 76557,
 76711,
 76888,
 77019,
 77176,
 77479,
 78513,
 78549,
 78645,
 78728,
 78744,
 78838,
 78849,
 79266,
 79383,
 79406,
 79448,
 79609,
 79654,
 79751,
 79782,
 79802,
 80118,
 80459,
 80639,
 80836,
 80878,
 81015,
 81460,
 81517,
 81528,
 81651,
 82061,
 82156,
 82166,
 82181,
 82521,
 82524,
 82625,
 82654,
 83108,
 83178,
 83350,
 83379,
 83449,
 83481,
 83734,
 83802,
 84092,
 84117,
 84184,
 84358,
 84494,
 84695,
 84702,
 84722,
 84815,
 85128,
 85676,
 85986,
 86073,
 86443,
 86887,
 86913,
 87057,
 87061,
 87617,
 87640,
 87740,
 87841,
 88262,
 88580,
 88674,
 88862,
 88938,
 88960,
 89100,
 89308,
 89649,
 89808,
 89812,
 90416,
 90496,
 90710,
 90737,
 90908,
 90989,
 91000,
 91183,
 91326,
 91353,
 91362,
 91380,
 91728,
 91762,
 91782,
 91792,
 91937,
 92007,
 92161,
 92187,
 92260,
 92291,
 92319,
 92656,
 92723,
 92829,
 92999,
 93073,
 93186,
 93234,
 93299,
 93530,
 93617,
 93947,
 94495,
 94759,
 94785,
 95059,
 95379,
 95600,
 95905,
 95939,
 96159,
 96191,
 96227,
 96785,
 96804,
 96929,
 97126,
 97334,
 97557,
 97607,
 97955,
 98066,
 98176,
 98570,
 99488,
 99748,
 99827,
 99925,
 99950,
 100276,
 100437,
 100929,
 101170,
 101485,
 101653,
 101683,
 101846,
 102068,
 102184,
 102421,
 102473,
 102630,
 102689,
 102701,
 102719,
 103106,
 103131,
 103201,
 103342,
 103488,
 103704,
 103783,
 103816,
 103945,
 103970,
 104072,
 104085,
 104096,
 104114,
 104254,
 104297,
 104305,
 104596,
 104637,
 104664,
 104822,
 104942,
 104957,
 105097,
 105199,
 105309,
 105327,
 105356,
 105392,
 105688,
 105843,
 105857,
 105953,
 106108,
 106201,
 106589,
 106654,
 106658,
 106771,
 107001,
 107954,
 108121,
 108286,
 108312,
 108323,
 108337,
 108667,
 108843,
 108950,
 109191,
 109607,
 109781,
 109848,
 109877,
 109898,
 109975,
 109979,
 110214,
 110433,
 110677,
 110720,
 110780,
 110973,
 111228,
 111564,
 111624,
 111643,
 112072,
 112126,
 112279,
 112362,
 112430,
 112640,
 112661,
 112789,
 112873,
 113218,
 113429,
 114107,
 114226,
 114382,
 114463,
 114607,
 114721,
 114944,
 115211,
 115275,
 115560,
 115669,
 115750,
 115940,
 115966,
 115992,
 116061,
 116103,
 116238,
 116286,
 116420,
 116588,
 116722,
 116891,
 116976,
 116996,
 117127,
 117171,
 117206,
 117307,
 117380,
 117453,
 117495,
 117694,
 118043,
 118183,
 118245,
 118468,
 118716,
 118744,
 118806,
 118861,
 119303,
 120009,
 120027,
 120699,
 120762,
 121004,
 121322,
 121485,
 121515,
 121739,
 121787,
 121979,
 122041,
 122293,
 122570,
 122711,
 122986,
 123007,
 123156,
 123921,
 124036,
 124356,
 124431,
 124435,
 124553,
 124559,
 124930,
 125213,
 125245,
 125344,
 125427,
 125558,
 125975,
 125983,
 125989,
 126433,
 126614,
 126881,
 127219,
 127308,
 127356,
 127513,
 127566,
 127576,
 127658,
 127725,
 127827,
 127870,
 128075,
 128164,
 128403,
 128516,
 128630,
 128804,
 128916,
 128931,
 129122,
 129596,
 129692,
 129748,
 130069,
 130322,
 130698,
 131017,
 131316,
 131322,
 131356,
 131398,
 131756,
 131905,
 131960,
 132002,
 132026,
 132063,
 132098,
 132184,
 132198,
 132258,
 132300,
 132317,
 132525,
 132662,
 132785,
 133008,
 133036,
 133115,
 133397,
 133406,
 133422,
 133553,
 133712,
 133829,
 134071,
 134084,
 134152,
 134177,
 134579,
 134661,
 134709,
 134736,
 134800,
 135139,
 135723,
 135790,
 135804,
 135818,
 135911,
 136056,
 136130,
 136161,
 136195,
 136247,
 136385,
 136492,
 136604,
 136648,
 137400,
 137551,
 137854,
 137927,
 138041,
 138180,
 138332,
 138409,
 138494,
 139302,
 139304,
 139336,
 139406,
 139507,
 140254,
 140511,
 140587,
 140628,
 140825,
 140830,
 141091,
 141440,
 141464,
 141475,
 141836,
 142039,
 142094,
 142145,
 142354,
 142428,
 142460,
 142465,
 142641,
 142788,
 142831,
 143331,
 143467,
 143496,
 144165,
 145137,
 145277,
 145360,
 145389,
 145414,
 145490,
 145898,
 146046,
 146103,
 146247,
 146484,
 146523,
 146572,
 147144,
 147352,
 147714,
 147940,
 147990,
 148517,
 148554,
 148614,
 148913,
 149224,
 149307,
 149398,
 149627,
 149669,
 149687,
 149773,
 150229,
 150369,
 150429,
 150525,
 150534,
 150641,
 151063,
 151190,
 151350,
 151490,
 151509,
 151537,
 ...]

In [21]:
# remove these 2 groups from data set for cleaning
to_drop = [*control_but_new.index, *treatment_but_old.index]   

len(df.drop(to_drop)) / len(df)

0.9867799971474949

In [24]:
df = df.drop(to_drop)

In [25]:
len(df)

290585

#### One more thing to check...

In [26]:
# Check it out...
df['user_id'].duplicated().sum()

1

In [27]:
df = df.drop_duplicates(subset=['user_id'])

In [28]:
df['user_id'].duplicated().sum()

0

#### Now, let's explore:

In [29]:
# Split out our two groups
control_group = df.loc[df['group'] == 'control']
treat_group = df.loc[df['group'] == 'treatment']

In [30]:
# Check the number of samples, timeframe and conv % for each group
for sub_df in [control_group, treat_group]:
    name = list(sub_df['group'])[0].title()
    print(f"Number of Samples in our {name} Group: {len(sub_df):,}")
    print(f"Timeframe: {sub_df['timestamp'].min()} - {sub_df['timestamp'].max()}")
    print(f"Number of Conversions in our {name} Group: {sub_df['converted'].sum():,}")
    print(f"Conversion % in our {name} Group: {sub_df['converted'].mean() * 100:.3f}%")
    print("*"*20)

Number of Samples in our Control Group: 145,274
Timeframe: 2017-01-02 13:42:15.234051 - 2017-01-24 13:41:54.460509
Number of Conversions in our Control Group: 17,489
Conversion % in our Control Group: 12.039%
********************
Number of Samples in our Treatment Group: 145,310
Timeframe: 2017-01-02 13:42:05.378582 - 2017-01-24 13:41:44.097174
Number of Conversions in our Treatment Group: 17,264
Conversion % in our Treatment Group: 11.881%
********************

In [ ]:
# Can see that conversion is less in treatment group. So would stick with control. Test did not work

Our friend at Facebook, whose [blog](https://medium.com/@robbiegeoghegan/implementing-a-b-tests-in-python-514e9eb5b3a1) and [code](https://github.com/RobbieGeoghegan/AB_Testing/blob/master/AB_Testing.ipynb) inspired this notebook, uses two things you can determine in advance to calculate effect size:

> Baseline rate — an estimate of the metric being analyzed before making any changes
> Practical significance level — the minimum change to the baseline rate that is useful to the business, for example an increase in the conversion rate of 0.001% may not be worth the effort required to make the change whereas a 2% change will be

In other words, you can determine the minimum amount of change you want to see between your two groups and use that to calculate effect size (different than calculating effect size after the study has been conducted, which isn't ideal).

To do this with statsmodels, since we're doing a test on a proportion, we use: https://www.statsmodels.org/stable/generated/statsmodels.stats.proportion.proportion_effectsize.html

In [32]:
control_group.head()

   user_id                  timestamp    group landing_page  converted
0   851104 2017-01-21 22:11:48.556739  control     old_page          0
1   804228 2017-01-12 08:01:45.159739  control     old_page          0
4   864975 2017-01-21 01:52:26.210827  control     old_page          1
5   936923 2017-01-10 15:20:49.083499  control     old_page          0
7   719014 2017-01-17 01:48:29.539573  control     old_page          0

In [36]:
len(control_group.loc[control_group['converted'] == 1])

17489

In [38]:
control_group['converted'].sum()

17489

In [41]:
# let's grab some useful variables, going ahead and doing for both groups
n_control = len(control_group)
num_conv_control = control_group['converted'].sum()
prop_conv_control = num_conv_control/n_control #converted proportion

In [42]:
n_treat = len(treat_group)
num_conv_treat = treat_group['converted'].sum()
prop_conv_treat = num_conv_treat/n_treat #converted proportion

In [44]:
# baseline is what we expect given what we have
# here, we'll capture that with our percentage of conversions 
baseline_rate = prop_conv_control
practical_significance = 0.01 # user defined - want at last 1% difference here

effect_size = proportion_effectsize(baseline_rate, baseline_rate + practical_significance)
#proportion_effectsize is a stats models function - effect size for a test comparing two proportions

In [45]:
# determine our minimum sample size per group
confidence_level = 0.05 # user defined - want to be 95% confident
power = 0.8 # user defined (1 - beta)

min_sample_size = NormalIndPower().solve_power(effect_size = effect_size, 
                                               power = power, 
                                               alpha = confidence_level)

print(f"Required minimum sample size: {min_sample_size:,.0f} per group")

Required minimum sample size: 17,209 per group

In [46]:
print(n_control)
print(n_treat)

145274
145310

In [47]:
# Now let's test!
# Using a proportion test (not dealing with means but proportions)
results = proportions_ztest([num_conv_control, num_conv_treat], [n_control, n_treat])

In [48]:
results # Returns z state and p-value

(1.3109241984234394, 0.18988337448195103)

In [51]:
print(f"Test Statistic: {results[0]:.3f}, P-Value: {results[1]:.3f}")

Test Statistic: 1.311, P-Value: 0.190

So?

- P value of 0.19 is not < 0.05. Thus we fail to reject the null as this is not a significant result.